[2017-08-20 19:03] cristianoliveira opened #1 "Feature: ergo file flag for pointing services"
As a user, I want to point a custom location of my `.ergo` file with a flag:

 `ergo -config=/tmp/ergofile`

[2017-08-20 22:00] cristianoliveira opened #2 "Feature: Dynamic services configuration"
Enable ergo to watch for config changes and respond to it.

[2017-08-21 07:56] cristianoliveira opened #3 "Bug: it is not finding http://localhost:2000/proxy.pac"

[2017-08-21 08:25] #3 closed

[2017-08-21 09:27] cristianoliveira opened #4 "Feature: Add vebose flag for debugging"
Enable use of verbose flag. It should log each request that pass through the proxy. It will help in debugging `ergo` and the apps running on it. :)

[2017-08-21 13:56] cristianoliveira opened #5 "Feature: show command"
Add a `ergo show [name]` command for showing the url for the given name. It will enable us to do things like this:
[code]

[2017-08-21 20:46] #5 closed

[2017-08-24 07:32] cristianoliveira opened #6 "Feature: Support to https"

[2017-08-25 05:31] cristianoliveira opened #7 "Feature: Add support to other protocols"
Today we have only support for `http://` and it is not possible to map for instance Redis or Mongo:

 - `mongodb://localhost: 27017`
 - `redis://localhost:6379`

It would be nice if we can map them

[2017-08-27 15:46] #4 closed

[2017-08-27 15:46] #1 closed

[2017-08-28 14:51] hmleal opened #8 "Enhancement: Upgrade log messages"
Upgrade log message to this format:

[code]

[2017-08-28 20:11] cristianoliveira opened #9 "Feature: new command to add service"
Create a command that would do the same as `echo "service http://service.de" >> .ergo` just for convenience.

The idea is a command like this:
[code]
Once we call this, I hope the app +url will be included into `.ergo` file

[2017-08-30 08:14] cristianoliveira opened #10 "Feature: On run check if has another instance running"
Some times when I run `ergo` and there is another process running on 2000 port it doesn't run. It should ask me If I want to kill the other instance.

[2017-08-31 19:35] metaperture opened #11 "Feature: subdomains?"
Hey, I just came across this via an answer on stackoverflow. I'd love to be able to use this, but I have a few local servers across subdomains, and I do need them to be subdomains, I can't just use different domains for them because they share cookies.

Thanks for the project, and I'm a big Ergo Proxy fan too :)

[2017-08-31 19:38] metaperture opened #12 "Feature: auto config system proxy settings"
I quickly set up the following wrapper--maybe something like it should be baked in, and triggered on a flag? This one is Ubuntu-only:

[code]

[2017-08-31 19:48] metaperture commented on #11
This might work by changing https://github.com/cristianoliveira/ergo/blob/master/proxy/config.go#L30
to
[code]
I'm going to go check that....

[2017-09-01 08:26] cristianoliveira commented on #11
Hallo @metaperture! Thanks for the report. Exactly that is definitely the logic that we should change that will enable us using subdomains like `http://one.foo.dev` and `http://two.foo.dev`.

I will take a look later. :)

[2017-09-01 08:31] cristianoliveira commented on #12
Hey @metaperture that is awesome! Maybe creating a script for each distribution as an alternative way to setup it. I will take a look to see if I can find something like for `osx` too

[2017-09-01 12:44] cristianoliveira commented on #11
Hey @metaperture just pushed the changes that enable create local domains like: `one.domain`, `two.domain` and also `one.two.domain`. Let me know if it is what you need

[2017-09-01 12:45] cristianoliveira commented on #7
Done.

[2017-09-01 12:45] #7 closed

[2017-09-01 12:57] cristianoliveira commented on #10
Fixed on: d27c0bb73958642e5b86b6004c939a7fcfc91871

[2017-09-01 12:57] #10 closed

[2017-09-04 19:55] metaperture commented on #11
Just tested it--it works perfectly thanks! This is definitely going to be a useful part of my dev toolchain :)

[2017-09-04 19:55] #11 closed

[2017-09-06 16:51] cristianoliveira commented on #11
Thank you! This tool has been helping me too :)

[v0.1.5](https://github.com/cristianoliveira/ergo/releases/tag/v0.1.5) include this feature

[2017-09-09 20:30] #8 closed

[2017-09-10 14:31] nitrocode opened #13 "Brew shows "Error: SHA256 mismatch""
[code]

[2017-09-10 15:17] cristianoliveira commented on #13
Hey @nitrocode sorry for that. The last shasum I generated in a Linux system I think that may be the problem. I just released version `v0.1.6` please use `brew tap cristianoliveira/tap` and `brew install ergo` again.

[2017-09-10 20:29] nitrocode commented on #13
It worked. Thank you

[2017-09-10 20:29] #13 closed

[2017-09-10 22:33] cristianoliveira commented on #12
Hey @metaperture
I just create a PR https://github.com/cristianoliveira/ergo/pull/14 that adds the `setup` command, which was based on your suggestion :)
Also added scripts for ephemeral proxy setup inside of `/resources` folder as an alternative.

[2017-09-12 14:55] cristianoliveira opened #15 "Feature: Add endpoint to see the configured apps"
For now, I use `ergo list` and open the apps using the printed links. It may be convenient an endpoint to see on the browser

[2017-09-13 08:08] cristianoliveira opened #16 "Tests: Add some integration tests"
We need to add some integration tests cause part of the code remains untouched by the current tests like the `/commands`.

[2017-09-19 08:30] cristianoliveira opened #18 "Feature: Use .localhost loopback feature"
I just noticed that we could youse the 'foo.localhost' and it will point to 127.0.0.1 but the proxy must bind at port 80. We should use this as an alternative way to create the subdomains :)

[2017-09-27 08:16] cristianoliveira opened #19 "Chore: Add coverage metrics and docs"
We want to add coverage metrics and docs in order to add Ergo to the AwesomeGo.

https://github.com/avelino/awesome-go/blob/master/CONTRIBUTING.md#quality-standards

[2017-09-29 09:10] cristianoliveira opened #20 "Style: Fix lints reports"
Today we have 30% for go lint on goreport. We can do better.

https://goreportcard.com/report/github.com/cristianoliveira/ergo

[code]

[2017-09-30 08:30] srini156 commented on #20
@cristianoliveira - I intend to take this up.

[2017-09-30 10:30] cristianoliveira commented on #20
Alright! go for it  :)

Thanks!

[2017-09-30 10:32] #12 closed

[2017-09-30 12:50] srini156 commented on #20
@cristianoliveira - I have fixed most of the violations on go vet and golint.
Just the ones pending are the exported functions and variables. (Ex: `ListNames `, `List `, `Service `). Are all of them intended to be exported functions and variables? If so, I will add comments to them.

[2017-09-30 14:58] cristianoliveira commented on #20
Sure. They all are. Inside command folder, you find each command ergo has. Let me help on it:

- List:
[code]

- ListNames:
[code]

- Url:
[code]

- Setup:
[code]

- Run:
[code]

[2017-09-30 16:08] #15 closed

[2017-09-30 20:52] cristianoliveira opened #21 "docs: Create a Demo gif in good quality"
That is simple. Just record your screen basically doing the same steps that we have on currently demo. After you will need to parse this video into an Animated GIF. Please make sure that the quality is good enough. Then override the `demo.gif` with your new one.

Feel free to ask any questions regarding this process.

[2017-09-30 21:35] cristianoliveira opened #22 "Feature: Setup command add support to other linux distros and windows"
The setup command aims to auto-configure your system to use ergo as the proxy. Currently, we only support two systems OSX and Linux-gnome. Would be nice to expand this support to more systems/flavors.

Here is the implementation:
https://github.com/cristianoliveira/ergo/blob/master/commands/setup.go

Your task is:
  - Discover how to set up a proxy by command line. For instance for gnome we do the

[2017-10-01 04:28] TraGicCode commented on #21
I'll start working on this one

[2017-10-01 04:45] srini156 commented on #20
Thanks @cristianoliveira for the help. I have fixed both go vet and golint fixes. Please review the comments I have added to exported functions (may not be accurate representation of what the function does).
gocyclo - I haven't looked yet into fixing it.
Ref - https://goreportcard.com/report/github.com/srini156/ergo

[2017-10-01 04:54] TraGicCode commented on #21
Unforuntaly i couldn't get this to work on mac.  The webbrowser just hung locally.  Looks like a bug?

[2017-10-01 06:50] sitaramshelke commented on #9
Looking at this one.

[2017-10-01 06:53] sitaramshelke opened #24 "In tests use `ergo` from $PATH than relative path."
While trying to understand the code, I tried to run the tests. There we are looking for `ergo` binary using relative path in `ergo_run_test.go`. Can we simply replace it `ergo`, since we might already have it installed in out $PATH?

[2017-10-01 07:11] cristianoliveira commented on #9
Hey @sitaramshelke thanks! I will update the description. I just noticed that it is a little bit vague. I hope you had caught. :)

[2017-10-01 07:27] kalbhor commented on #21
This seems open. Can I work on this?

[2017-10-01 08:26] cristianoliveira commented on #24
Hey @sitaramshelke thanks for pointing that out. It seems that is a problem on the test flow indeed. We don't see that happening on `travis.ci` buildings cause it always build before testing. I am not sure if we can use the binary installed on current '$PATH' because we can't ensure that it has the last version.

I think these tests deserve a refactor but for now, we can basically ensure that we a

[2017-10-01 08:39] cristianoliveira commented on #21
Hey @TraGicCode what exactly didn't work? Have you used the `setup` command? Sometimes the browser takes some time to start using the configured proxy.

Hey @kalbhor it seems that @TraGicCode is working on it. I just opened a new one here take a look #24

Thank you for the help :D

[2017-10-01 09:49] sitaramshelke commented on #24
Ah, I did not consider CI part. Running make tasks seems good to me. IMO can we have a `contribution.md` with little info about the steps and tasks that need to be run?

[2017-10-01 12:28] #20 closed

[2017-10-01 12:36] cristianoliveira commented on #24
Totally agree. I will open a issue for it. It should a contains step by step instruction for cloning it, building and testing.

[2017-10-01 13:02] cristianoliveira opened #25 "Chore: Ensure build before running tests"
When running the tests it tries to find an `ergo` binary inside of `bin` folder.
In order to ensure that it will be there, we should include it into Makefile:

[code]

and then use `make test` for testing.

PLUS: Would be nice to have a section on `README` (Testing) about how to test properly the project. Something like this:
https://github.com/cristianoliveira/funzzy#tests

refers to #24

[2017-10-01 13:10] cristianoliveira opened #26 "Tests: Skip integration tests without the presence of "-integration" flag"
We want to avoid run integration tests (tests inside `tests` folder) when not passed the flag `-integration` to go test command. `go test .../. -v -integration`.

Please take a look on how to implement this here:
https://siongui.github.io/2017/04/28/command-line-argument-in-golang-test/

This refers to #24

[2017-10-01 14:38] mileswilson commented on #26
Would you be open to implementing this as an environment variable?

Using flags means you have to implement the flag in all packages if you run tests using

`go test .../.`

else you get ```
flag provided but not defined: -integration```
messages in your tests for packages that do not define it.

I've pushed a commit that provides this functionality  through an environment variable called INTEGRAT

[2017-10-01 14:45] cristianoliveira commented on #26
Hey @mileswilson sure it is. The point here is just avoiding run integration tests when it isn't required.

[2017-10-01 14:47] cristianoliveira commented on #26
Regarding your commit, I think it is exactly what we need. Feel free to open a PR :)

[2017-10-01 16:40] zmb3 commented on #26
Hey @mileswilson  - it is possible to use a flag here - there was a [great talk](https://about.sourcegraph.com/go/advanced-testing-in-go/#golden-files-also-test-flags) at GopherCon regarding the topic.

You can define flags in your _test.go files and they only take effect when testing.  So a simple line like:

[code]

and a gate

[code]

should be all that's needed for `go test ./... -integration`

[2017-10-01 17:45] sitaramshelke commented on #25
Looking into this.

[2017-10-01 19:55] #26 closed

[2017-10-01 20:08] #25 closed

[2017-10-02 02:27] srini156 commented on #24
@cristianoliveira - I also encountered this issue on my local. I tried using `$GOPATH/bin/ergo` but didn't work for me. If you are looking for contributions, perhaps I could help again 👍

[2017-10-02 09:04] michivip commented on #6
I would really like to contribute to this project because I do already use it for my own applications - implementing HTTPS would be a great feature.

Do you want to generate the keypair dynamically or should the user provide them?

[2017-10-02 11:14] cristianoliveira commented on #6
Hey @michivip I am glad you use `ergo` :)

I was thinking to provide the keypairs within the binary. To make easy to install. I accept suggestions also.

[2017-10-02 15:19] michivip commented on #6
Hello @cristianoliveira ,

thanks for your fast answer!

If I got you right the user can enable HTTPS in the configuration file. If so, the self-signed certificate will be used to provide a secure HTTPS connection.

If something is wrong with my understanding please correct me. Otherwise I will implement the feature in the following days.

[2017-10-02 20:05] cristianoliveira commented on #24
Hey @srini156 we already solved this problem :)
Sure, any help would be great.

[2017-10-02 20:05] #24 closed

[2017-10-02 21:37] cristianoliveira commented on #21
Hey @TraGicCode are you still interested in working on it?

[2017-10-02 22:04] cristianoliveira opened #32 "bug: Error when ergo file has a bad format."
While testing on windows I noticed that when running ergo using a bad file it raises the follow error:
[code]

The file `.ergo` content:
[code]

[2017-10-02 22:11] cristianoliveira commented on #32
The problem is right here:
https://github.com/cristianoliveira/ergo/blob/master/proxy/config.go#L74

When the file isn't correct the array doesn't have the right number of indexes

[2017-10-02 22:42] eugecm commented on #32
Should it print an error saying that the file has an invalid format for example?

[2017-10-02 22:48] cristianoliveira commented on #32
hey @eugecm yeah!
Anything is better than blowing up the stack trace in our face 😅

[2017-10-02 22:51] cristianoliveira commented on #6
@michivip I think as a first implementation it can be a flag passed to the command. Would be nice if we could manage to provide both. I think is just a matter of binding both ports `2000` (default) and `443`.

[2017-10-02 22:51] eugecm commented on #32
Alright @cristianoliveira, I can work on this.

[2017-10-03 00:22] cristianoliveira commented on #9
It was fixed by c20fc7fb8ad62486b04f5d47d5e2c45e527a7eb5

[2017-10-03 00:22] #9 closed

[2017-10-03 06:31] adiclepcea opened #34 "Separate unit and integration tests"
This is just a suggestion.
I was thinking that maybe it is better to separate the unit tests from the integration tests (which seem to be more end-to-end tests - see what [a Google blog](https://testing.googleblog.com/2010/12/test-sizes.html) says). This is in the **Makefile** of course.
This way we can test the code with the unit tests without compiling the binary and then run the integration/end

[2017-10-03 09:33] adiclepcea opened #35 "URL appends http:// in front of every host"
This is a problem when we have a host defined as redis://redishost for example.
For this the returned value would be right now:
http://redis://redishost.dev

[2017-10-03 10:25] #35 closed

[2017-10-03 14:18] cristianoliveira commented on #34
Hey @adiclepcea totally agree with this. In order to achieve it isn't just changing the `test` task inside Makefile to not build before?

[2017-10-03 14:47] adiclepcea commented on #34
Yes. That was what I was thinking.
To use the **test** target that we have now for unit testing and to create a new target in the make file named **test-integration** (maybe) that will run the integration test.
The **test-integration** target should depend on the **build** target.
The **test** target should not.

[2017-10-03 14:49] cristianoliveira opened #37 "docs: Fix typos and improve description - Hacktoberfest"
Hello, fellow Hacktoberfest contributor!

I am opening this issue especially for Hacktoberfest. I am not a native English speaker and I am so used to read the project readme that I am not able to see all typos it might have.

So I invite you to take a look at it and if you find out either a typo or a weird sentence please feel free to point it out and open a PR with a fix for it. 😄

Also feel free

[2017-10-03 14:56] cristianoliveira commented on #34
Looks good to me. Do you want to make those changes?

[2017-10-03 14:56] abdulamite commented on #37
I'll take it!

[2017-10-03 15:17] adiclepcea commented on #34
Yep. I'm on it

[2017-10-04 06:37] Nightpanda commented on #34
Hi. How come this issue is still open? All evidence points to this issue being solved.

[2017-10-04 17:43] adiclepcea commented on #16
@cristianoliveira  Please see https://github.com/cristianoliveira/ergo/pull/44.
All the commands are tested now. But there are some suggestions in the comments there.

[2017-10-04 18:16] michivip commented on #6
As described in this [StackOverFlow answer](https://stackoverflow.com/questions/9493978/https-in-pac-file#9494068) it is not allowed to proxy HTTPS through a PAC file. Therefore I do not think that implementation this feature is possible.

If I got you wrong please tell me.

[2017-10-04 18:17] adiclepcea commented on #34
Yep. It is done by #40. I will close it.

[2017-10-04 18:17] #34 closed

[2017-10-04 18:44] adiclepcea commented on #6
@cristianoliveira, @michivip If you look into the comments you see that they say it is possible to use proxy for https connections (using CONNECT).
The issue I see however is:
Do you mean that the proxy should have an address like https://127.0.0.1:2453 for example? If so, then, although I'm not sure, I believe that the browser (or any other client for that matter) should trust the proxy.

To do t

[2017-10-06 09:58] #32 closed

[2017-10-08 09:58] adiclepcea opened #46 "Tests for OSX just skip if the setup does not complete"
In #44 the tests for OSX just skip if the setup fails.
This happens here:
https://github.com/cristianoliveira/ergo/blob/master/tests/ergo_run_test.go#L362
and here:
https://github.com/cristianoliveira/ergo/blob/master/tests/ergo_run_test.go#L508

There is also a mention in the comments there.
They should fail if setup fails just like Linux and Windows tests do.

[2017-10-08 09:58] adiclepcea commented on #16
After #46 is closed, this should also be closed.

[2017-10-08 13:12] adiclepcea opened #47 "Improve code quality"
By this I mean adding compliance checking with the go coding standards ( gofmt, go vet and golint).

[2017-10-08 22:26] #47 closed

[2017-10-11 18:09] adiclepcea opened #50 "Feature: Should FreeBSD support be added?"
I have already tested the system on FreeBSD (after small modifications).
The idea is that it runs ok on FreeBSD and perhaps it would run the same on every unix.
To make the system easier to use I believe that we should call the setup switch for linux and freebsd: **gnome** instead of **linux-gnome** and separately **freebsd-gnome**.
Both Linux and FreeBSD are used using the Gnome desktop, thus bot

[2017-10-11 19:14] adiclepcea commented on #50
I've done the modifications. To view them please see #51

[2017-10-12 21:32] cristianoliveira commented on #19
https://github.com/codecov/example-go

[2017-10-13 05:09] adiclepcea opened #52 "Use a separate temporary config file for testing"
Right now there is a repetitive code that copies the original content of the config file at the beginning of the test and then rewrites it at exit so that we can have the same values at each test.
see
* https://github.com/cristianoliveira/ergo/blob/master/tests/ergo_run_test.go#L113
* https://github.com/cristianoliveira/ergo/blob/master/tests/ergo_run_test.go#L599
* https://github.com/cristianoliv

[2017-10-13 05:10] adiclepcea commented on #2
I think we can close this one. What do you think @cristianoliveira ?

[2017-10-13 07:44] josledp commented on #52
I'll get this one

[2017-10-13 08:05] adiclepcea commented on #52
:+1:

[2017-10-13 08:19] cristianoliveira commented on #2
Sure! it was fixed by #49

[2017-10-13 08:19] #2 closed

[2017-10-13 17:43] adiclepcea commented on #46
@cristianoliveira
I had access to a desktop mac today. It seems that the problems comes from the fact that the code is dependent on the ```Wi-Fi``` network. If I replaced the ```Wi-Fi``` with ```Ethernet``` here, than it worked ok.
see https://github.com/cristianoliveira/ergo/blob/master/commands/setup.go#L52
and
https://github.com/cristianoliveira/ergo/blob/master/commands/setup.go#L54
Another op

[2017-10-13 21:30] ebastos opened #54 "Install script should support multiple OS and Platform"
Considering Go is easily supported by multiple Operating Systems and platforms, the install script should be flexible enough to allow future expansion beyond Linux x64.

[2017-10-14 12:40] adiclepcea commented on #52
Solved by @josledp

[2017-10-14 12:40] #52 closed

[2017-10-17 09:57] cristianoliveira opened #58 "Bug: Error ERR_ICANN_NAME_COLLISION"
I am having the following error sporadically:

Try contacting your system administrator.
ERR_ICANN_NAME_COLLISION

I searched around to understand it and reached this thread.
https://superuser.com/questions/919278/err-icann-name-collision-when-trying-to-use-localhost-dev-in-chrome

It seems it occurs because `.dev` domain has become a registered ICANN Top Level Domain. So some domains that really

[2017-10-17 10:29] cristianoliveira opened #59 "feature: Install script for Windows"
The issue #54 brought a good idea. In order to make easy installing ergo for Windows I think we can have a script  like `install.sh` that we have for linux.

[2017-10-17 11:16] adiclepcea commented on #59
I believe that we can go one step further. An setup could be a better option for Windows.
It could also be used to add a service. I think I will try it.

[2017-10-17 11:19] adiclepcea commented on #58
Yes, ```dev``` is registered. I have noticed this also. I do not know about ```local```, but that  could easily be already registered. I have another proposition.
How about: ```.ergo```?

[2017-10-17 20:28] adiclepcea commented on #54
In order to support FreeBSD I have modified ```.travis.yml``` and much of the files in the ```ci``` folder.
The modifications are in #51. Which fastly becomes too large :). I am no expert in travis, but I believe the builds are only done on releases. So I have no way of verifying the modifs now.

[2017-10-19 06:54] adiclepcea commented on #59
I made a simple install script for windows. It was tested on windows 10.
The setup would be an option too, but that would mean the modification of the appveyor setup so that the appveyor build would generate the setup exe.

[2017-10-19 13:58] cristianoliveira opened #61 "tests: Improve unit tests codecoverage"
Thanks to @adiclepcea and his great work with the integration tests ergo is mostly covered by tests!  🥂

Although we are mostly covered, it doesn't reflect on `codecov.io`  cause it gets only test coverage by "unit tests" and on the integration tests we use a compiled ergo's binary.

Today at codecov we have the follow report:

folder/file | lines | lines hit| lines partially | lines missing | %
-

[2017-10-19 21:04] cristianoliveira commented on #16
Your wish is my command sir :+1:

[2017-10-19 21:04] #16 closed

[2017-10-19 21:05] #19 closed

[2017-10-20 08:28] cristianoliveira commented on #61
Please feel free to make any refactor needed in order to achieve it ;)

[2017-10-20 09:20] cristianoliveira opened #64 "bug: Error when running ergo without command"
I am having an error when running ergo without providing a command.

Expected behavior:
Show USAGE

Actual behavior:
[code]
The problem is here. We should look if `os.Args` has more than 1 item before creating the command
[code]

It should be easy to solve.

**Please also provide a test for it**

[2017-10-20 12:51] adiclepcea commented on #61
Addressed by #63.
Improvements still possible.

[2017-10-20 14:20] pzelnip commented on #64
I'd like to take a stab at this.

[2017-10-20 17:47] adiclepcea commented on #16
😆

[2017-10-22 12:24] adiclepcea commented on #61
I've merged #63.
If there will be no comments on #65, I will also merge it later. I hope it is ok to do so.
On #65 some code repetition at least could be improved, but that is a good hacktober target for someone.

[2017-10-22 18:12] cristianoliveira commented on #59
Merged!
Should we include this method of installation on README? Or do u think we can leave it as an alternative only?

[2017-10-22 19:10] adiclepcea commented on #59
I believe we should include it. I will make another commit with it.

[2017-10-22 19:42] cristianoliveira commented on #58
Yeah I thought about `.ergo` it's a nice option. I would like to have a second option also, something more "perennial" since no one knows if `.ergo` wouldn't one day become a TLD in the future? 😆 🤔

After some research, I found those as already defined TLD that will never change, since it is on the DNS RFC specifications.

listed and described below.
  .test
  .example
  .invalid
  .localhost

rel

[2017-10-22 19:56] cristianoliveira opened #67 "bug: Installer error on Ubuntu"
As reported by @ebastos , the install script is falling because of some incompatible "bashisms" I think this script should be as POSIX compliant as possible to work in most shells out there. So I am opening this issue for a refactor in this script.

The error in ubuntu:
[code]

[code]

[2017-10-23 16:34] adiclepcea commented on #59
Done in #69. After merging it, this can be closed.

[2017-10-23 20:18] #64 closed

[2017-10-23 20:22] #67 closed

[2017-10-23 20:26] cristianoliveira commented on #59
Fixed!

[2017-10-23 20:26] #59 closed

[2017-10-24 08:13] adiclepcea commented on #61
Ergo is over 80%. :+1:

[2017-10-24 13:11] cristianoliveira commented on #58
For whom is trying to find a solution for this.
As an alternative for when this error happens you can set `ergo` as your Web Proxy directly. Not through `proxy.pac` and "Automatic Proxy Configuration". Then all traffic will pass through `ergo` and it will work.

[2017-10-24 13:12] cristianoliveira opened #69 "feature: Configuration file."
This issue is needed in order to enable run `ergo` using a custom TDL like `.test` or any other the user would like to use.

We need to decide the name of this file and its format.

[2017-10-24 13:34] cristianoliveira opened #70 "feature: Add flag for changing the default domain`.dev`"
Today we use as default the TLD `.dev` but would be nice to change it when needed or for test. So we should have a flag on `run` command in order to change it for a custom "domain".

[code]

Things it must have:
 - Domain validation. it must validate the domains, for instance `foo` is not but `.foo` is valid.
 - It must reflect on `localhost:2000/proxy.pac`
 - A simple flag name. feel free to come

[2017-10-24 15:58] adiclepcea commented on #69
I would say it should follow (more or less) the layout of the config structure:
https://github.com/cristianoliveira/ergo/blob/4ad9ad1f2059fba7e19476bba07e0fafae1bff9f/proxy/config.go#L26
It should have at least ```port``` and ```domain```. ```URLPattern``` can be deduced from the ```domain```.
It could be a json or a yaml perhaps. In this respect, we should think about putting the services in the

[2017-10-24 21:03] #70 closed

[2017-10-24 22:40] cstadach commented on #69
isn 't there already the option to include a config file during the run option?
or is this a different one?

I'd like to try solving this by using the https://gopkg.in/yaml.v2 and a yaml file that can be called via a command line option hook

[2017-10-25 17:30] rucuriousyet commented on #69
TOML is pretty common for unix-based OS's... and it has pretty good support in Go. Thoughts?

[2017-10-25 17:35] rucuriousyet commented on #69
My biggest problem with using something like YAML (don't get me wrong.. it can be really cool), is that it can be pretty hard to create simple/trouble-free mappings for very simple configs. JSON is pretty verbose but is well known/easy to write, TOML is pretty simple but not very well known, HCL is super nice but also not very well known... don't get me started on code (Turing complete) based opti

[2017-10-25 18:48] cstadach commented on #69
from what I understand we are just looking for 5 simple key value pairs which is really easy to write in both yaml and toml

[2017-10-25 19:00] adiclepcea commented on #69
If you include the services, then you can have an arbitrary number of values.
Granted, it is not a complex structure, but there can be a lot of values.
There are both advantages and disadvantages to all.
The advantage for json is that it is already integrated into Go. You can simply map a structure to json and back.
For yaml you need a library, but that is not such a big issue.
For TOML is the sam

[2017-10-25 19:23] cstadach commented on #69
I think it is smarter to stick to one and mention it in the readme.
otherwise somebody will decide to use a filetype we have not anticipated

[2017-10-25 19:32] adiclepcea commented on #69
Ok. Let's vote.
I'll choose TOML.

[2017-10-25 19:39] cstadach commented on #69
something like this?
[code]

[2017-10-25 20:02] rucuriousyet commented on #69
I like the look of the TOML 😋

-sent from my OnePlus X

On Oct 25, 2017 3:39 PM, "Christian" <notifications@github.com> wrote:

[2017-10-25 21:12] cstadach commented on #69
I had to make the toml look a bit different, but this is a first wip [commit](https://github.com/cstadach/ergo/commit/a99fa8cf24e35e4d26618be037c7646438ef824d)

[2017-10-25 21:38] cristianoliveira commented on #69
My only concern about having the services inside the configuration files is that it becomes beeing a little bureaucratic to manage. :/

Today for adding a new service you can use a simple
[code]
and is pretty much it for adding a new service. The idea is to have the same flexibility of `/etc/hosts`. Do you guys think worth having then inside this config file?

I was thinking in this file more like

[2017-10-25 21:48] cristianoliveira opened #74 "feature: Add "remove" service command"
Today we have the `add` command for adding new services into `.ergo` file. Would be nice to have a `remove`/`delete` service as well.

It must have:
  - Option to remove by name or url
  - A message in case of service not found
  - Unit tests

[2017-10-26 05:16] cstadach commented on #69
That would make the implementation a lot easier.
I seem to remember an `AddService` method implemented somewhere. Shouldn't that be the way to add services?

[2017-10-26 06:18] adiclepcea commented on #69
I do agree that having services inside the config would make it a bit more difficult to manage.
I think however that by having two files (one for services and one for config) would also somewhat complicate the solution. On the other side, it would be easier for the user to manually add services.
In my mind, the one file solution would be the the way to go, but that is only one opinion. Below I wil

[2017-10-26 09:28] cristianoliveira opened #76 "docs: Does ergo need a separated documentations already?"
I was thinking now that it's starting to have more options/commands/configs if `ergo` need some kind of documentation. Is it already necessary?

[2017-10-26 20:06] cstadach commented on #69
the `-config` configFile option is included quite deeply into ergo.
adding the new config file like I imagined it would need a huge overhaul of the code and would lead to conflicts to other issues (f.e. remove services).

Unfortunatelly I do not have so much time on my hands to do this right now.

I will add a Pull Request with the work I have done so far (watch the first commit)
But I will not ha

[2017-10-27 13:01] hmleal commented on #76
No

[2017-10-27 14:24] jonathansp commented on #76
No.

[2017-10-27 14:29] cesarsl commented on #76
No.

[2017-10-27 14:29] icaromh commented on #76
No

[2017-10-27 14:30] marcelosoares commented on #76
hmmm... no

[2017-10-27 14:31] pedrokiefer commented on #76
No.

[2017-10-27 14:31] lucasts commented on #76
Yes, good idea

[2017-10-27 14:49] cristianoliveira commented on #76
<img src="https://media.giphy.com/media/Yl5aO3gdVfsQ0/giphy.gif" />

[2017-10-27 14:53] cristianoliveira commented on #76
Properly labeled
<img src="https://pbs.twimg.com/media/BMhppnDCIAM7QCi.jpg:large" />

[2017-10-27 16:03] hmleal opened #78 "bug: Command ergo -v doesn't show the version"
run:
[code]

output:
[code]

[2017-10-27 16:11] cristianoliveira commented on #78
How have you installed ergo?
The var `VERSION` is only filled when a build is made.

https://github.com/cristianoliveira/ergo/blob/master/main.go#L15

What we can do instead is fill it by default with `WIP` or `master` instead.

[2017-10-27 17:09] adiclepcea commented on #78
Or we could use ```git describe --always``` in the makefile.
I will try to make a small modification with a PR.

[2017-10-27 17:22] gmotta commented on #76
No.

![Image of Rubinho](http://cidadeverde.com/assets/uploads/noticias/1ababa12.jpg)

[2017-10-27 18:48] cristianoliveira commented on #78
Hey @adiclepcea the problem here is when installing using `go get` :/
I think the right version, in this case, is `master` indeed cause `go get` gets directly from it. There is no version yet.

The changes made in #79 will break the flow of releasing it into homebrew (osx package manager) :/
I use `.version` as a reference for releasing it.

[2017-10-27 19:57] #74 closed

[2017-10-27 20:04] cristianoliveira commented on #58
Partially addressed by #71

[2017-10-27 20:21] adiclepcea commented on #78
Well, in #79 you still have the .version (and the bumpversion make target).
Still, while building with ```make build``` you will have an version, no mater in which branch you are.
Indeed, ```go get``` does not use any version. This also applies to ```go build``` and ```go install```.
You are right however, #79 does not solve the problem of compiling without using the make target, and I do not know

[2017-10-27 20:31] cristianoliveira commented on #78
I think we can use as default the version `master` or maybe `nightly` like Rust does.
https://doc.rust-lang.org/1.13.0/book/nightly-rust.html

Once you get code from master branch we can say that it is latest version but not released yet

WDYT?

[2017-10-28 06:15] adiclepcea commented on #78
I think that master should only hold the releases (the version tagged commits).
The develop branch should be used for accepted, but not versioned (nightly) PRs.
So that the flow would be something like:
PRs should go against the ```develop``` branch. When we (or you) decide that a new version is ready to be release, then  a PR with the accepted changes from ```develop``` should be made against ```

[2017-10-28 10:27] alexsadliak commented on #78
I will take this one.

[2017-10-29 09:27] cristianoliveira commented on #78
I think we can try using the gitflow. It will enable us to test some features before releasing or merging code into master. :)

Let me create this branch and update the contribution guides

[2017-10-29 10:28] #78 closed

[2017-11-02 14:31] #37 closed

[2017-11-02 14:32] cristianoliveira commented on #61
We reached 80% on overall 🎉 🍾 👏

I think we can close this one for now :)

[2017-11-02 14:32] #61 closed

[2017-11-08 15:23] cristianoliveira commented on #6
There is this method of implementation also: https://goenning.net/2017/11/08/free-and-automated-ssl-certificates-with-go/

It looks quite simple

[2017-11-08 16:15] adiclepcea commented on #6
Yes. It seems to fit the bill. It does use recognized certificates, so it should be ok.

[2017-11-08 17:05] michivip commented on #6
In the tutorial of @cristianoliveira using Let´sEncrypt it says that you need your server to be publicly available. Therefore I think that this is not affordable for ergo because it is bound to the local host system. If I understood something wrong, please tell me.

[2017-11-08 20:59] adiclepcea commented on #6
@michivip The tutorial mentions that the server needs to be publicly available only because that is the main purpose of a web server. Otherwise you cannot reach it through DNS.
However, ergo can take advantage of the techniques explained there as long as there is an internet connection on the machine it is running on. The connection can be while ergo is in a nat, behind a firewall, and perhaps eve

[2017-11-13 13:52] cristianoliveira commented on #69
I was thinking to use ENV variables to solve those configs. What do you think about it?

Pros:
- Very Simple

Cons:
- It is not configurable by "folder" but globally

[2017-11-13 14:46] cristianoliveira opened #87 "refactor: Turn services into a map."
In a discussion on slack channel I got some good feedback about the code and one of the ideas is instead of using a slice of Services use a map. This makes the function `GetService` practically not necessary plus it guarantees the services to be Unique.

[2017-11-13 15:13] cristianoliveira opened #88 "fix: Possible race condition"
This line:
https://github.com/cristianoliveira/ergo/blob/master/proxy/config.go#L89

Mutext use should be changed to avoid race conditions. It easier to change the config struct to not use an instance of a mutex manager.
So instead of
[code]

We use:

[code]

And rely on zero-value feature for "instantiating" it

[2017-11-13 15:14] adiclepcea commented on #69
That is a good ideea, but I also think we should consider two configuration options.
Like you have for most of the programs that use env as their configuration source (see JAVA - CLASSPATH).
So we should have env (as the ultimate source of truth) and also some flags for ergo.
So basically, if the flags are set and the env is not set, then the flags are considered the valid setup, but if the env is

[2017-11-13 15:29] cristianoliveira commented on #69
No worries, let decide it first

[2017-11-13 15:48] cristianoliveira opened #89 "refactor: Do we need the channels to update the configs?"
I got another feedback from the Slack Channel:

Other:

So I am thinking that we can get rid of the channels and just work with the mutex + gorotine for this case.

[2017-11-13 20:37] adiclepcea commented on #89
We can use either one. The solution already does this (as mentioned in the first comment)  and the second comment is right. This is a synchronization problem.
You can use either channels or mutexes. If you remember, my first proposition was with mutexes.
You can even use rwmutexes.
In  previous comment you mentioned using maps.  That is ok, but maps in Go are not thread safe.
You have to synchroni

[2017-11-14 08:04] cristianoliveira commented on #76
I will close this issue since the HueHueBr is no longer maintained. 🤣

[2017-11-14 08:04] #76 closed

[2017-11-14 08:25] cristianoliveira commented on #89
I remember this. You were totally right :)

Also true. We still need the mutexes

Am I missing something?

If I remember I may have to mislead the implementation that's why I thought it was a case for use of the "Share Memory By Communicating" Principle.

I was talking with some guys from Gopher slack channel (gophers.slack.com) that made good points about the ergo's code :)

[2017-11-14 10:11] adiclepcea commented on #89
:+1:

[2017-11-17 11:35] cristianoliveira opened #91 "bug: Verbose option is not working"
Running ergo run using verbose flag is not working. Mainly because the subcomand `run` doesn't accept the verbose flag even though the usage says.

It's a good opportunity to sort the way we currently manage the flags its becoming complex because it has more subcommands than at the beginning.

This is the problematic line
https://github.com/cristianoliveira/ergo/blob/master/main.go#L96

Would be n

[2017-11-17 11:39] cristianoliveira commented on #91
Some alternatives we may can use:
- https://github.com/docopt/docopt.go
I like docopt standard it is a well known in Python and it has many implementations. Plus we can use our current USAGE for it

- https://github.com/spf13/cobra
It seems the most famous command line arg parser in go. Never tried but the golang community is more familiar with this one (my assumption)

[2017-11-17 11:50] cristianoliveira commented on #87
fixed by #90

[2017-11-17 11:50] #87 closed

[2017-11-17 13:00] adiclepcea commented on #91
I have used cobra, it is indeed a good option, but your main will change significantly.

[2017-11-18 22:44] #88 closed

[2017-11-19 12:09] #89 closed

[2017-11-19 20:29] cristianoliveira commented on #91
Fixed by #93

[2017-11-19 20:29] #91 closed

[2017-11-20 08:42] cristianoliveira commented on #46
Hey @adiclepcea

I think that works. Another option is setting this for every network like is done in https://github.com/cristianoliveira/ergo/blob/master/resources/osx-setup-runner.sh

I will take a look on this later

[2017-11-20 12:45] adiclepcea commented on #46
:+1:

[2017-12-15 15:18] cristianoliveira opened #94 "Feature: Add validation file on run"
It would be nice to have a validation every time ergo runs in order to avoid badly formatted files and undefined errors.

[2018-01-15 17:41] cristianoliveira commented on #69
PR related #95

[2018-01-16 15:56] cristianoliveira opened #96 "Bug: Osx setup when nothing in wifi"
The osx setup fails when the system is not on the wifi network.

[2018-01-27 15:10] cristianoliveira opened #97 "Docs: Update documentation about config"
Now that is possible to config ergo through Environment Variables, would be nice to mention it on the README.

[2018-01-27 19:59] dmitry-saritasa opened #98 "Can't make it work"
### in the folder start simple http server

[code]

### then configure _ergo_ per documentation
[code]

### Using httpie

[code]
### However when I go through python's process, it works
[code]

[code]

[2018-01-27 20:08] cristianoliveira commented on #98
Hello @dmitry-saritasa

Thanks for the feedback.
In order to use ergo as your proxy for Terminal calls (using `curl` or `httpie`) you need to set the `http_proxy` variable.

[code]
I will add it to the configuration section of README.

In order to use in the browser, you need to set ergo as your web proxy.

[2018-01-27 20:17] cristianoliveira commented on #97
Add explanation about configuring `http_proxy` in order to use ergo as a proxy for the terminal requests.

[code]

[2018-01-27 20:41] cristianoliveira commented on #97
Added explanations on 950f5d0d52d9924f67657f34a4a26fdc63d8551d

[2018-01-27 21:26] dmitry-saritasa commented on #98
Ok worked!

On Sat, Jan 27, 2018 at 12:08 PM, Cristian Oliveira <
notifications@github.com> wrote:

--
*Simplicity - Beauty of the Person. *
Clickbrand.com - making tomorrow today

[2018-01-27 21:26] #98 closed

[2018-01-27 21:41] dmitry-saritasa commented on #98
It worked in console, but not in Chrome even with Network enabled wide
settings

this is what I see on my console after system-wide proxy is enabled. And
chrome shows Empty page.

[2018-01-27 13:39:50] GET http://requestb.in/ HTTP/1.1
[2018-01-27 13:39:50] GET http://requestb.in/ HTTP/1.1
[2018-01-27 13:39:50] GET http://requestb.in/ HTTP/1.1
[2018-01-27 13:39:50] GET http://requestb.in/ HTTP/1.1

[2018-01-27 21:43] dmitry-saritasa commented on #98
[code]

![image](https://user-images.githubusercontent.com/1747653/35476635-02baad04-0368-11e8-9b74-779f35ac30c3.png)

[2018-01-28 08:30] cristianoliveira commented on #98
That's strange. Usually, it shows "This site can’t be reached This site on the company... " on Chrome.

The first logs look like to be the same error reported in this issue of Go lang:
https://github.com/golang/go/issues/18753

What is your current `ulimit -u`?
Also, could you run ergo with the verbose flag `ergo run -V`? And make a test running ergo using a different domain? `ergo run --domain .l

[2018-02-02 06:10] cristianoliveira opened #99 "Feature: Add environment variables into Help"
*User:* Execute `ergo -h`
*Behavior:* Show all environment options within the help description.

[2018-02-07 18:11] maturano commented on #11
🤔 ... This also requires to be a `.dev` domain, right?.

I have the same issue with shared cookies. There is a domain that set the cookie for `.domain.com`; I don't have control over this. So I want run onto a `local.domain.com` in order catch be able to read the cookie. Is that possible?

[2018-02-08 10:34] cristianoliveira commented on #11
Technally if you set run ergo using  a `.com` domain it supposed to work. Only for `http` websites for now though :/

[2018-02-08 17:21] cristianoliveira opened #100 "Feature: Caching last responses"
Give the option to cache the last requests. For instance, when the service you are trying to reach is not answering would be nice to have the same last response

[2018-03-06 13:22] sealse opened #101 "linux ergo setup problem"
Need can to set param's as port for Ubuntu 16.04

If:

ergo setup linux-gnome -p "2001"
Current detected system: linux
Setup failed cause exit status 2

Else:

ergo setup linux -p "2001"
Current detected system: linux

List of supported systems:

-linux-gnome
-osx
-windows

For more support please open an issue on: https://github.com/cristianoliveira/ergo

[2018-03-07 08:43] cristianoliveira commented on #101
Hello @sealse Thanks for the report.

I think it is a bug related to the args. Shouldn't be that hard to fix it
Also, It isn't a use case we didn't thought about :)

[2018-03-08 10:30] superinka opened #102 "How to setup ERGO on WINDOWS Sir ?"

[2018-04-21 18:27] cristianoliveira commented on #102
Hello @superinka .

First of all, sorry for the absent.
I am not an Windows user but I will try to help you anyway. In order to install it in that system, you have to download the `ergo.exe` from the [releases](https://github.com/cristianoliveira/ergo/releases) and place it probably inside the "C:/Program Files" but I am not sure. :(

Or you can download the executable and run it on the folder you

[2018-04-21 18:27] #102 closed

[2018-04-21 18:38] cristianoliveira commented on #101
Hey @sealse I just noticed you were passing an invalid `linux` to it. You suppose to pass `linux-gnome` 😄
I just tried here and it is working just fine :)

[2018-04-21 18:38] #101 closed

[2018-04-21 18:48] #99 closed

[2018-05-12 07:49] adiclepcea commented on #96
I believe this one is related to #46.  If this is solved, #46 should also be modified.

[2018-05-25 13:24] cristianoliveira opened #103 "Feature: Add configurable Timeout"
As a user I'd like to have an option to configure a timeout for the proxy

[2018-07-10 12:04] uocxp commented on #101
i have the same problem when i type `ergo setup linux-gnome` i get:

    Current detected system: linux
    Setup failed cause exit status 2

[2018-07-10 12:19] uocxp opened #105 "BUG: proxy not working on ubunt 18.04"
i installed the program like mentioned in the README and tried `ergo setup linux-gnome` but i am getting

     Current detected system: linux
     Setup failed cause exit status 2

i tried then to do the configuration manually and added `http://127.0.0.1:2000/proxy.pac` to `System Settings > Network > Network Proxy > Automatic` but when i add a service `echo "example http://localhost:8080" > .ergo

[2018-07-17 08:53] cristianoliveira commented on #105
Hey @uocxp thanks for reporting it. I'll take a look on it this weekend :)

[2018-07-19 17:35] adiclepcea commented on #103
Is this a timeout like stop the proxy after the timeout has passed? Or perhaps, if the target page does not respond in the given timeout, stop trying to reach it?

[2018-07-22 07:32] cristianoliveira commented on #103
Not really, it more if the service ergo is trying to reach is not available then It just cuts the connection after a given time. Sometimes it gets stuck on those connections. So giving the option to set a time out can free the proxy without manual intervention :)

[2018-10-13 12:44] anodynos opened #106 "On Linux Kubuntu 16.04 I get DNS_PROBE_FINISHED_NXDOMAIN"
Everything seems to be installed properly, but it gives me a `DNS_PROBE_FINISHED_NXDOMAIN` when I try to connect to my alias.

My setup is:

[code]
Proxy config is:
![image](https://user-images.githubusercontent.com/856453/46905561-8a708100-ceed-11e8-8e46-d1f25ddad067.png)
and I can download `http://127.0.0.1:2000/proxy.pac` as

[code]

I then run Chrome alone or `╰─$ google-chrome --proxy-pac-url

[2018-10-15 11:32] cristianoliveira commented on #106
I ask you to try out it with that config because sometimes if you lunch ergo while your browser is still opened it doesn't use the auto config proxy settings. Perhaps an internal browser DNS cache.

[2018-10-15 20:24] yuriw opened #107 "Issues on ubuntu 16.04"
Installed
as `curl -s https://raw.githubusercontent.com/cristianoliveira/ergo/master/install.sh | sh`

configure did not work

`ergo setup linux-gnome
Current detected system: linux
Setup failed cause exit status 2`

Also set Network Proxy to Automatic in Settings.

Added service as `echo "sabnzb https://localhost:9090" > .ergo`

ergo list
Ergo Proxy current list:
http://sabnzb.dev -> https://loca

[2018-10-16 00:14] yuriw commented on #106
I guess I am seeing the same issue too and ref: #107

[2018-10-16 07:40] cristianoliveira commented on #107
Are you using `https` locally? Unfortunately, ergo is not able to intercept those requests yet. Did you try using `http`?

[2018-10-16 15:07] yuriw commented on #107
@cristianoliveira I tried
Ergo Proxy current list:
 - http://sonarr.dev -> http://localhost:8989
and got `DNS_PROBE_FINISHED_NXDOMAIN`

[2018-10-16 15:13] cristianoliveira commented on #107
I'll have to test it at home where I have a Lubuntu running.

[2018-10-17 23:15] yuriw commented on #107
@cristianoliveira any updates ?  I like the idea but so far don't see it's working on ubuntu 16.04 :(

[2018-10-22 20:37] xReprisal commented on #105
The problem seems to be with the way arguments are split in `Runner.Run()`. If instead of using runner inside `LinuxConfiguration.SetUp()` you run ```exec.Command(`/bin/sh`, `-c`, `gsettings set org.gnome.system.proxy mode 'auto' &&
      gsettings set org.gnome.system.proxy autoconfig-url 'http://127.0.0.1:2000/proxy.pac'`).Run()``` there is no error returned. Same goes for  `LinuxConfiguration.S

[2018-10-23 08:18] cristianoliveira commented on #105
Hey @xReprisal Thanks for this debugging  :)

I'll provide a fix as soon as possible.

[2018-10-23 10:21] cristianoliveira commented on #107
Sorry @yuriw for the late response to this issue. I'm currently moving in to a new apartment and it is consuming all my spare time lately :(

I hope I can go back to normal soon and then debug those things :)

[2018-10-23 10:21] cristianoliveira commented on #105
Sorry guys for the late response to this issue. I'm currently moving into a new apartment and it is consuming all my spare time lately :(

I hope I can go back to normal soon and then debug those things :)

[2018-10-23 14:55] yuriw commented on #107
@cristianoliveira sure, standing by

[2018-10-25 11:23] PieterScheffers opened #108 "Default domain (.dev) redirects to https on Chrome and Firefox"
On Chrome and Firefox the hsts has been build in for the .dev domain. This means the browser automatically redirects to https.

https://ma.ttias.be/chrome-force-dev-domains-https-via-preloaded-hsts/

[2018-10-26 15:32] EdByrnee opened #109 "Error with brew install"
Installing on osx 10.12.6 always returns an erro

Updating Homebrew...
==> Auto-updated Homebrew!
Updated 1 tap (homebrew/core).
==> Updated Formulae
tbb

==> Installing ergo from cristianoliveira/tap
Error: An exception occurred within a child process:
  NoMethodError: undefined method `unlock' for nil:NilClas

Any ideas?

[2018-10-26 16:02] EdByrnee commented on #109
Installed by adding the release to my path :)

[2018-10-26 16:08] EdByrnee commented on #105
+1

[2018-10-26 16:20] EdByrnee opened #110 "Chrome forces https"
As of v63 google have registered .dev as a TLD
This means when loading .dev chrome will enforce https meaning ergo will not work as it also blocks self signed certificates

[2018-10-26 16:39] EdByrnee commented on #97
Hi, running on .dev doesn't work in chrome as you probably know,

The documentation says to configure the domain by running
`ergo -h`

this prints
`Usage of ergo:
  -h	Shows ergo's help.
  -v	Shows ergo's version.`

ergo -h gives

`Usage:
  ergo run [options]
  ergo list
  ergo list-names
  ergo url <name>
  ergo setup [options] [linux-gnome|osx|windows] [-remove]
  ergo add [options] <service-nam

[2018-10-26 18:40] #110 closed

[2018-10-27 11:52] EdByrnee commented on #108
There is an option to intercept custom domains but I can't find it in the documentation

[2018-10-29 07:18] cristianoliveira commented on #97
Hey @EdByrnee you probably are running an ergo's old version. :)

Here what looks like the help on the latest one:
[code]

[2018-10-29 07:19] cristianoliveira commented on #97
I'll reopen the issue cause I think it needs a better explanation about how to use env var and configure the domains on README :)

[2018-10-29 07:21] cristianoliveira commented on #109
Wow that's bad. Let me check

[2018-10-29 07:37] cristianoliveira commented on #97
You were right. The version `0.2.2` has no help for Env vars. I'll release a new version containing it :)

[2018-10-29 12:34] cristianoliveira commented on #97
We just uploaded a new version `v.0.2.4` please updated it :)

[2018-10-29 20:34] cristianoliveira commented on #108
Hey @PieterScheffers thanks for the report back. Yeah, `.dev` has been considered a real domain for a while now that's why we have this issue https://github.com/cristianoliveira/ergo/issues/58

It was partially solved by `-domain` flag or `ERGO_DOMAIN` env.  Are those options not working for you?

[2018-10-31 07:40] cristianoliveira commented on #107
Hey @yuriw just tested here using the `/examples` folder on my Ubuntu 17 and it is working fine. I'm about to merging the #113 which will fix the `setup` command. Could you please try again with this new version?

[2018-10-31 07:42] cristianoliveira commented on #106
As I mentioned at #107. I just tested on my Ubuntu 17.04 and it's working fine. I've used the settings that are inside the `examples` folder. I'm about to release a new version that fixes the `setup` command. Could you please try again then?

[2018-10-31 07:58] cristianoliveira commented on #107
The release https://github.com/cristianoliveira/ergo/releases/tag/v0.2.5 contains the setup command fix :)

[2018-10-31 15:23] yuriw commented on #106
@cristianoliveira sure  I will

[2018-10-31 15:44] yuriw commented on #107
@cristianoliveira maybe I missing some step.  Here is what I did:

removed old version
`sudo rm /usr/local/bin/ergo` (BTW print message needs to be fixed it says now `rm /usr/local/binergo`)

`curl -s https://raw.githubusercontent.com/cristianoliveira/ergo/master/install.sh | sh`

`ergo -v`
`v0.2.5`
`ergo list`
`Ergo Proxy current list:
 - http://sonarr.dev -> http://localhost:8989`

`ergo run
Erg

[2018-10-31 15:46] yuriw commented on #107
@cristianoliveira you mentioned "using the /examples folder on my Ubuntu 17", what are those ?

[2018-10-31 17:38] cristianoliveira commented on #107
These examples:
https://github.com/cristianoliveira/ergo/tree/master/examples

Could you try not using `.dev` since it's considered a valid TLD and might be blocked it's usage by the browser. Try: `ergo run -domain .dav` for instance

[2018-10-31 19:30] yuriw commented on #107
@cristianoliveira
I messed up something, pls advise:

`ergo "http://sonarr.dov -> http://localhost:8989" > .ergo`

`ergo list-names`
2018/10/31 12:29:07 Could not load services: file error: invalid format `The management apps running on different ports made easy through custom local domains.` expected `{NAME} {URL}`

[2018-10-31 20:28] cristianoliveira commented on #107
Could you run ergo with verbose flag `-V` and see if it gets at least some output?

[2018-10-31 20:34] yuriw commented on #107
@cristianoliveira  running "ergo run -V
Ergo Proxy listening on port 2000 for domains .dev"
and hitting  `sonarr.dev` shows nothing.

What is interesting that when I open "http://sonarr.dev" my browser ends up with "https://sonarr.dev"
DNS_PROBE_STARTED and then  DNS_PROBE_FINISHED_NXDOMAIN messages

[2018-10-31 20:35] yuriw commented on #107
@cristianoliveira It'd be useful if you list exactly what you do for example when you add `sonarr` on `localhost:8096`, ALL commands please

[2018-11-20 18:05] yuriw commented on #107
@cristianoliveira I am still hopeful, but so far no updates from you :(

[2018-11-20 20:00] cristianoliveira commented on #107
I sincerely don't know how to help you. I've been using it with no problem so far.

If you tried to set it up as your direct proxy and didn't work so I need more info to help. :(

[2018-11-20 20:29] yuriw commented on #107
@cristianoliveira Can you provide ALL steps you used on ubuntu pls ?

[2019-03-21 16:20] SkyEngine-OSP opened #114 "PowerShell | "The system cannot find the file specified.""
after installing ergo via powershell using the `Invoke-WebRequest` command, i'm receiving this issues when running the `ergo setup windows` command:

`PS C:\xampp\htdocs\> ergo setup windows`
`2019/03/22 00:16:23 Could not load services: file error: open ./.ergo: The system cannot find the file specified.`

anybody receiving the same issue, or does anybody know what i've done wrong?

[2019-05-08 18:49] cristianoliveira commented on #114
This is definitely a bug. Although if you want to avoid this error now you can provide an `.ergo` file before setting up the system. Something like:
[code]

I'll provide a fix

[2019-05-15 17:07] cristianoliveira commented on #105
I'll close this issue. Feel free to open again if it is still happening.

[2019-05-15 17:07] #105 closed

[2019-05-18 08:38] #97 closed

[2019-05-18 08:39] #106 closed

[2019-05-18 08:40] cristianoliveira commented on #108
I'll close this. Please feel free to open again if the problem persist

[2019-05-18 08:40] #108 closed

[2019-07-03 13:56] consultwithmike opened #115 "Ergo setup fails on Windows"
I installed Ergo via PowerShell per the documentation:

[code]

and that seemed to work.  I then added some configuration:

[code]

Executing `ergo list` provides me with the list I'd expect:

[code]

However, `ergo setup windows` fails:

[code]

and I've noticed that `ergo run` fails with an interesting error (maybe related to the fact that `setup` has never succeeded):

[code]

[2019-07-03 20:09] souljedi commented on #115
Similar issue here: `ergo setup windows` fails with the same message. However, when running `ergo run` i don't get the same warning as @consultwithmike. For me it only says `Ergo Proxy listening on port 2000 for domains .dev`.

I also tried to configure manually in the system's network settings, followed by a system restart without success. It's listening on port 2000 (firewall exception added), b

[2019-08-08 14:16] cristianoliveira commented on #115
Hello there.

I think is because you need to run set up as admin user I'd guess. I'm not familiar with Windows permission system but It's strange it requiring permission to run a simple server. Can you double-check if it has the correct permissions to do so?

[2019-08-08 14:19] cristianoliveira commented on #115
About your question @souljedi, could you test using a different CTL besides `.dev` using the `-domain` parameter?

[2019-08-14 08:48] #114 closed

[2019-08-14 09:38] cristianoliveira opened #116 "Tests: Fixes integration tests running on CI"
It seems Travis has limited the permission on the images running the tests which makes this test fails:
https://github.com/cristianoliveira/ergo/blob/b4a96aa5c6e680f13f29a5d6e97ec59d1387791b/tests/ergo_run_test.go#L660

We have to figure out how to deal with such issue (trying to not skipping the test 😅)

[2019-12-16 16:50] CastixGitHub opened #117 "firefox support?"
Hello,
From my terminal after `http_proxy` is set if I do a curl request I get it on the ergo run log and I get the right response.
I've set `Automatic proxy configuration URL` in firefox, when I open .dev domain what happens is weird: the scheme is changed to https and no log is provided, I get a 404 response.

[2020-02-03 21:13] CedricFinance commented on #117
Hi,
I think it's linked to HSTS on .dev domains.
I checked on Chrome: `chrome://net-internals/#hsts`
![image](https://user-images.githubusercontent.com/3935032/73690987-c5de2280-46d1-11ea-9bce-8f2b63330951.png)

[2020-05-03 15:01] muisje commented on #117
Does not work for me either. Am using firefox/
This is what happens when i visit jellyfin.dev

We can’t connect to the server at jellyfin.dev.

If that address is correct, here are three other things you can try:

    Try again later.
    Check your network connection.
    If you are connected but behind a firewall, check that Firefox has permission to access the Web.

Erglo list output:

[code]

[2020-07-04 12:32] #107 closed

[2020-07-04 13:10] cristianoliveira commented on #117
Hey guys.

Sorry for the absence, personal issues.

Did you manage to make it run?
This issue with `.dev` isn't it related to this one https://github.com/cristianoliveira/ergo/issues/58 ?

Regards,

PS. if there is no answer to this in a week I'll assume you figure it out and I will close this issue 😊

[2020-07-04 13:11] cristianoliveira commented on #115
Since there is no answer to this question I'll assume you figure it out :)

[2020-07-04 13:11] #115 closed

[2020-07-06 17:35] CastixGitHub commented on #117
Actually I did't use ergo because of this issue, just looked into this again.
firefox works by checking `Proxy DNS hen using SOCKS v5` option (and proxy pac as usual)
as stated in other issues, does not work (redirects to https) for `.dev` domains so I used `ergo run -domain .test`

~~fun fact: I'm not able to make it work with chromium (`chromium --proxy-pac-url=http://localhost:2000/proxy.pac`)

[2020-07-06 18:32] CastixGitHub opened #119 "ergo remove does nothing?"
[code]
also it's still available `curl http://thiss.test`

[2020-07-06 18:48] CastixGitHub opened #120 "validation of configured addresses"
shoud block the user immediatly whit urls like

[code]

this should happen when services are added, and at ergo startup

[2020-07-14 19:48] cristianoliveira commented on #120
Hey @CastixGitHub thanks for reporting this.
Yeah, I agree, this should be validated! It shouldn't be hard to implement such validations.

[2020-07-14 19:52] cristianoliveira commented on #117
Which version of firefox are you using? So I can try to debug myself later.

[2020-07-14 19:54] cristianoliveira commented on #119
Thanks for reporting this issue. I'll take a look at it. Which version of ergo are you using? the latest? (`ergo -v` for checking it)

[2020-07-14 20:28] #119 closed

[2020-07-14 20:30] cristianoliveira commented on #119
Fixed! It will be released within the next ergo's release :)

[2020-07-15 19:35] #116 closed

[2020-07-21 20:29] #117 closed

[2021-02-23 02:31] clytras opened #122 "Feature: Wildcard subdomains?"
I can see there is a feature supporting subdomains with https://github.com/cristianoliveira/ergo/issues/11 and I'd like to ask if it would be possible to add wildcard subdomain support, something like the following format:

[code]

will resolve to every subdomain automatically, like:

[code]

There are applications that have such features to generate subdomains and of course this is configurable i

[2021-03-17 14:11] galloaleonardo commented on #107
Hello!

A have same problem here =(

![image](https://user-images.githubusercontent.com/35380659/111480703-07ccfb00-8711-11eb-88ec-7efa5b258117.png)

![image](https://user-images.githubusercontent.com/35380659/111480918-39de5d00-8711-11eb-8196-163e1a0bb787.png)

![image](https://user-images.githubusercontent.com/35380659/111480961-42cf2e80-8711-11eb-85e9-abb8d20e05d2.png)

![image](https://user-im

[2021-03-22 09:32] cristianoliveira commented on #107
Hey @galloaleonardo

When using a proxy on a terminal there is a special variable `export http_proxy="http://localhost:2000"` to tunnel the request through it. Here the an it is how to do it  https://github.com/cristianoliveira/ergo#using-on-terminal

Try this
[code]

[2021-04-11 06:14] cahyowhy commented on #115
i also got this issue

[2021-04-26 17:32] simplenotezy opened #123 "Bug: "The command is not recognized" when running "ergo setup osx""
This is the output:

[code]

[2021-04-26 17:37] simplenotezy commented on #123
I also tried the manual configuration described here: https://github.com/cristianoliveira/ergo#configuration

However, when I try to access the site I get: `ERR_TUNNEL_CONNECTION_FAILED`

[2021-04-28 19:28] GingerGigiCat opened #124 ""sh: [FATAL] armv7l is not yet supported" when installing on Raspberry pi 4, running raspbian."
When running `curl -s https://raw.githubusercontent.com/cristianoliveira/ergo/master/install.sh | sh` in the terminal on a raspberry pi 4, it returns:
[code]
This is a problem because I use my raspberry pi to host my server, and it is the only computer that keep powered on 24/7.

[2021-05-07 13:17] cristianoliveira commented on #123
Hey @simplenotezy thanks for reporting it. What is the version of your system? I guess this is an issue with the latest OSX

[2021-05-07 13:23] cristianoliveira commented on #124
Hey @GingerGigiCat

Ergo has no built version that supports Raspberry pi at the moment. Since ergo is built using golang, you can try to compile a version for it. Like this https://www.thepolyglotdeveloper.com/2017/04/cross-compiling-golang-applications-raspberry-pi/

What are you trying to achieve? I wonder if NGINX isn't better a tool for this usage https://engineerworkshop.com/blog/setup-an-ngi

[2021-05-08 08:29] GingerGigiCat commented on #124
@cristianoliveira Thanks, I will try NIGNX, it sounds like it can do what I am looking for.

[2021-05-08 09:59] #124 closed

[2021-05-18 10:29] gnutix commented on #6
Any chance this issue might get some love ? This tool is awesome, but all the projects I'm working on are using HTTPS. :(

[2021-05-19 15:27] cristianoliveira commented on #6
Hey @gnutix I'm sorry for that.
I usually don't need to test locally with HTTPS, that's why this missing feature didn't get much attention :(

I still want to do it just for the sake of learning. We tried to leave all the research in this PR on how to implement it. Contributions are welcome! 😄

[2021-11-10 20:04] DUOLabs333 opened #126 "Ergo does not work with PAC"
When using the PAC file in Firefox, it fails to load any of the localhost domains, but allows others to go through. However, if done directly, only the localhost domains can go through.

[2021-11-16 13:07] #126 closed

[2021-11-19 01:40] namcodes commented on #115
same problem, please help me some steps

[2022-02-02 06:58] jacob-carlborg-apoex commented on #123
I have the same problem, running macOS 12.0.1.

When I use `http_proxy` and `curl` Ergo is working fine. I did some digging by adding some tracing to Ergo and noticed when using the browser the requests are not received in Ergo. This indicates the issue is with the browser/operating system. Modern browsers are trying to be "helpful" by automatically switching to HTTPS, searching on Google and so o

[2022-08-05 04:35] paxperscientiam opened #130 "Use across home network?"
Hello!

I'm testing out `ergo` and it works amazingly well.

Out of curiosity, I tested if I could get `ergo` working across my local network (all mac machines).

Machine A is running `ergo`. So, on Machine B, I set Automatic Proxy Configuration to http://<local_domain_for_machine_a>:2000/proxy.pac (I also tried the IP address for Machine A).

That said, once I viewed the contents of proxy.pac, I

[2022-10-14 15:23] cristianoliveira commented on #130
Hey @paxperscientiam That wasn't the intended usage of ergo. I bet that with enough effort put into it you can make it work.  But I'd rather recommend looking for other alternatives like maybe rolling your own local DNS and redirecting the addresses you use externally to the internal IP addresses when accessed from within your LAN. You can use something like Dnsmasq.

[2022-10-14 15:23] #130 closed

[2022-10-24 04:36] paxperscientiam commented on #130
Thanks for the suggestion about dnsmasq.